/* AutomatonEditor ocupa 100% do espaço que o App lhe dá */

.automatonSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.canvasWrapper {
  flex-grow: 1;
  height: 100%;
  background-color: #fdfdfd;
  overflow: hidden;
  position: relative;
  min-height: 0;
}

@media (max-width: 768px) {
  .automatonSection {
    flex-direction: column-reverse;
  }

  .canvasWrapper {
    flex: 1 1 0;
    height: 0;
  }
}