.appContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.automatonSection {
  flex: 1;
  display: flex;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

.canvasWrapper {
  flex-grow: 1;
  height: 100%;
  background-color: #fdfdfd;
  overflow: hidden;
  position: relative;
  min-height: 0;
}

.gameWrapper {
  flex: 1;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .appContainer {
    flex-direction: column;
  }

  .automatonSection {
    flex: 1 1 0;
    flex-direction: column-reverse;
    height: 0;
  }

  .canvasWrapper {
    flex: 1 1 0;
    height: 0;
  }

  .gameWrapper {
    flex: 1 1 0;
    height: 0;
  }
}